* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

:root {
  --primary-color: #ccd6f6;
  --secondary-color: #0a192f;
  --btn-padding: 0.75rem 1.5rem;
  --btn-radius: 8px;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
